.head {
    text-decoration: none;
    background-color: aqua;
}
.heading{
    justify-content: space-between;
    display: flex;
    color: rgba(18, 89, 221, 0.938);
    padding: 30px 150px;
    font-size: 30px;
   
}
.btn {
    color: white;
    background-color: rgb(16, 108, 212);
    padding: 150;
    border-radius: 15px;
    height: 55px;
    width: 140px;
    
}

.inter-abed {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.btn-2{
    background-color: rgb(50, 50, 253);
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 140px;
    
 

}
.jadu{
    padding:100px 800px;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.img-hero{
    width: 10px;

}
.hero{
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
}
.center {
font-weight: 800;
font-size: xx-large;

}
.tamim{
    padding: 140px 250px 780px;
   display: flex;
    justify-content: space-between;
}
.sharif{
    width: 160px;
    height: 40px;
    color: white;
    background-color: rgb(50, 50, 253);
    border-radius: 15px;
    
}
.momo{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border-radius: 48px;
}
